body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 32px;
  text-align: center;
}

p,
div {
  text-align: justify;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

button {
  border: none;
  padding: 8px;
  border-radius: 8px;
  background-color: antiquewhite;
}

.bg-1 {
  background-color: antiquewhite;
}

.bg-2 {
  background-color: lightblue;
}

.bg-3 {
  background-color: salmon;
}

.section-item {
  margin-bottom: 8px;
}

.section-content {
  margin: 32px;
}

.formula {
  font-style: italic;
  font-size: xx-large;
}
